<div class="timeline">
    <div class="timeline-page">
      <div class="dot" (click)="onDotClick('January')"></div>
      <div class="dot" (click)="onDotClick('February')"></div>
      <div class="dot" (click)="onDotClick('March')"></div>
    </div>
    <div class="timeline-page">
      <div class="dot" (click)="onDotClick('April')"></div>
      <div class="dot" (click)="onDotClick('May')"></div>
      <div class="dot" (click)="onDotClick('June')"></div>
    </div>
    <div class="timeline-page">
      <div class="dot" (click)="onDotClick('July')"></div>
      <div class="dot" (click)="onDotClick('August')"></div>
      <div class="dot" (click)="onDotClick('September')"></div>
    </div>
  </div>
  